<!DOCTYPE html>
<html>
    <body>
        <form action = "{{url_for('size')}}" method="post" id="my_form"></form>
            <p>Enter name:</p>
            
            <table>
                <tr>
                    <td>
                        (<input type="number" name="corner[]" form="my_form" style="height:10px;width:30px" />,
                        <input type="number" name="corner[]" form="my_form" />)
                    </td>
                    <td>
                        (<input type="text" name="corner" form="my_form" />)
                    </td>
                </tr>
                <tr>
                    <td>
                        (<input type="text" name="corner" form="my_form" />)
                    </td>
                    <td>
                        (<input type="text" name="corner" form="my_form" />)
                    </td>
                </tr>
            </table>
            <button type="submit" form="my_form">Submit</button>
    </body>
</html>